html {
    font-family: 'Bakbak One', cursive;
    scroll-behavior: smooth;
}



body {
    margin: 0px; 
    padding: 0px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    background: rgb(3,3,3);
    background: linear-gradient(180deg, rgba(3,3,3,0.9444152661064426) 0%, rgba(191,191,189,0) 100%);
    padding: 20px 50px 20px 50px;
    color: white;
    position:fixed;
    z-index: 3;
}

#navbar {
    box-sizing: border-box;
    width: 100vw;
    transition: top 0.5s ease-in-out;
}

.navlinks {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type:none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoitem {
    width: 10vw;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(24, 24, 24);
    z-index: 100;
    transition: opacity  1s, visibility 1s;
}

.loading::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-radius: 50%;
    border-top-color:red ;
    z-index: 101;
    animation: loading 0.75s ease infinite;
}



@keyframes loading {
    from{transform: rotate(0turn);}
    to{transform: rotate(1turn);}
}

.loading-hide {
    opacity: 0;
    visibility: hidden;
}




.main-content {
    display: flex;
    background-color: rgba(48, 48, 48, 1);
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding:10rem;
}

.main-image {
    max-height:600px;
}

.Info {
    text-align: right   ;
    color: white;
    max-width: 500px;
    margin: 2rem;
}

.temp {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height:fit-content;
    background-color: rgba(196, 196, 196, 1);
    padding:10rem;
}

.introduction {
    max-width: 500px;
    margin: 2rem;
}


.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
    height: 300px;
    background-color: rgba(48, 48, 48, 1);
    border-radius: 50px;
    box-shadow:5px 10px 5px grey;
}

.profile {
    display: table;
    background: url(./imagefolder/womantemp.jpeg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50%;
    position: relative;
}

.profile::after {
    content: 'Michael Dayo';
    font-size: 30px;
    white-space: nowrap;
    margin-left:-150px ; /* look at profile-container,break it up into four sections and see that center is 150px */
    color: white;
    position: absolute;
    width: 300px;
    text-align: center;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: 2;
}

.contacts-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10rem;
    background-color: rgb(48, 48, 48, 1);
}

.contacts-description {
    max-width: 500px;
    color: white;
    margin: 2rem;
}

.contacts-description h1 {
    font-size: 50px;
}


.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background-color:rgba(196, 196, 196, 1) ;
    border-radius: 30px;
}

    .input {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 10px;
    width:150px;
    height: 30px;
    background-color:rgba(196, 196, 196, 1) ;
    border-radius: 30px;
}   



#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

#message {
    width: 300px;
    height: 150px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-family:'Bakbak One', cursive ;
}

input[type=submit] {
    font-family: 'Bakbak One', cursive;
}

#message-submit {
    border: 2px solid grey;
    border-radius: 10%;
}



.social-align {
    display: flex;
}